@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    
}

body{
    background: #0c0c0c;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

main{
    margin: 40px;
    color: #fff;
}
/* Header */

header{
    margin: 40px;
    margin-top: 60px;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.menu-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-list-item{
    padding: 30px;
}

.menu-list-item a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/* Header */
/* main */
.projects-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* main */
/* footer */

footer {
    background: #E9EBF2;
    color: black;
    height: 500px;
    text-align: center;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-title{
    padding: 40px;
}

.footer-container-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1020px;
    gap: 50px;
}

.footer-container-input p{
    font-weight: bold;
}

.footer-container-input-email{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-telefone{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-mensagem{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-adjust{
    gap: 20px;
}

#input-footer-email { 
    
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
	
}

#input-footer-email:focus {
    outline: none;
}

#input-footer-mensagem {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:870px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
}

#input-footer-mensagem:focus {
    outline: none;
}

#input-footer-telefone {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
}

#input-footer-telefone:focus {
    outline: none;
}

.input-footer-submit {
    background: transparent;
    color: black;
    border: 1px solid #302929;
    border-radius: 5px;
    width: 204px;
    height: 40px;
    cursor: pointer;
}

.input-footer-submit:hover  {
    background: black;
    color: white;
    border: 1px solid #302929;
    border-radius: 5px;
    width: 204px;
    height: 40px;
    cursor: pointer;
}

.footer-container-bar{
    height: 300px;
    width: 2px;
    background-color: #C1B3B3;
}

.footer-contairner-social-tel h2{
    padding: 30px;
}

.footer-contairner-social-tel h3{
    padding: 30px;
}

.footer-contairner-social-tel a{
    padding: 20px;
}

.copyright h4{
    font-size: 18px;
    font-weight: 400;
}
/* footer */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}