@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    
}

body{
    background: #0c0c0c;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

main{
    margin: 40px;
    color: #fff;
}
/* Header */

header{
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.menu-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-list-item{
    padding: 30px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Header */
/* Services */

.Services{
    margin: auto;
    max-width: 1500px;
    max-height: 1800px;
    height: 600px;
    font-size: 20px;
}

.Services h1{
    text-align: left;
    font-size: 40px;
    padding: 20px;
    padding-bottom: 40px;
}

.card-spacing{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    gap: 40px;
}

.card-socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    width: 350px;
    height: 390px;
    transition: all 0.5s ease;
    background: linear-gradient(180deg, #3A405F 0%, #4F67BB 100%);
    font-size: 30px;
    font-weight: bold;

}

.card-socialMedia:hover{
    width: 400px;
    height: 440px;
}

.card-emailCrm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    width: 350px;
    height: 390px;
    transition: all 0.5s ease;
    background: linear-gradient(180deg, #3A405F 0%, #4F67BB 100%);
    font-size: 30px;
    font-weight: bold;
}

.card-emailCrm:hover{
    width: 400px;
    height: 440px;
}

.card-traffic{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    width: 350px;
    height: 390px;
    transition: all 0.5s ease;
    background: linear-gradient(180deg, #3A405F 0%, #4F67BB 100%);
    font-size: 30px;
    font-weight: bold;
}

.card-traffic:hover{
    width: 400px;
    height: 440px;
}

.card-seo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
    width: 350px;
    height: 390px;
    transition: all 0.5s ease;
    background: linear-gradient(180deg, #3A405F 0%, #4F67BB 100%);
    font-size: 30px;
    font-weight: bold;
}

.card-seo:hover{
    width: 400px;
    height: 440px;
}

/* Services */
/* Apresentações */
.SocialMedia{
    background-color: #485b9f;
    height: 450px;
    text-align: left;
}

.SocialMedia-container{
    margin: 5px;
    margin-left: 20px;
    max-width: 1200px;
    font-size: 28px;
}

.emailCrm{
    height: 450px;
    text-align: left;
}

.emailCrm-container{
    margin: 5px;
    margin-left: 20px;
    max-width: 1200px;
    font-size: 28px;
}

.paidTraffic{
    background-color: #485b9f;
    height: 450px;
    text-align: left;
}

.paidTraffic-container{
    margin: 5px;
    margin-left: 800px;
    font-size: 28px;
}


.seo{
    height: 450px;
    text-align: left;
}

.seo-container{
    margin: 5px;
    margin-left: 800px;
    font-size: 28px;
}
/* Apresentações */
/* Círculo */

.circleIcon-1{
    position: absolute;
    top: 1020px;
    right: 60px;
}

.circleIcon-2{
    position: absolute;
    right: 1350px;
    top: 2150px;
    transform: scaleX(-1);
}

/* Footer */
/* Círculo */
footer {
    background: #E9EBF2;
    color: black;
    height: 500px;
    text-align: center;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-title{
    padding: 40px;
}

.footer-container-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 1020px;
    gap: 50px;
}

.footer-container-input p{
    font-weight: bold;
}

.footer-container-input-email{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-telefone{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-mensagem{
    position: relative;
    text-align: left;
    font-size: large;
    left: 5px;
}

.footer-container-input-adjust{
    gap: 20px;
}

#input-footer-email { 
    
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
	
}

#input-footer-email:focus {
    outline: none;
}

#input-footer-mensagem {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:870px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
}

#input-footer-mensagem:focus {
    outline: none;
}

#input-footer-telefone {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:flex;
    width:400px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: transparent;
}

#input-footer-telefone:focus {
    outline: none;
}

.input-footer-submit {
    background: transparent;
    color: black;
    border: 1px solid #302929;
    border-radius: 5px;
    width: 204px;
    height: 40px;
    cursor: pointer;
}

.input-footer-submit:hover  {
    background: black;
    color: white;
    border: 1px solid #302929;
    border-radius: 5px;
    width: 204px;
    height: 40px;
    cursor: pointer;
}

.footer-container-bar{
    height: 300px;
    width: 2px;
    background-color: #C1B3B3;
}

.footer-contairner-social-tel h2{
    padding: 30px;
}

.footer-contairner-social-tel h3{
    padding: 30px;
}

.footer-contairner-social-tel a{
    padding: 20px;
}

.copyright h4{
    font-size: 18px;
    font-weight: 400;
}
/* footer */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}